html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body
{
	background-color: White;
	/* For testing only*/
  font-family: 'Open Sans', monospace;
	font-size: 16px;
	/*letter-spacing: 0.03em;*/
}

div
{
	/*border: 1px solid Chocolate;*/
	/* For testing only */
}

.content
{
	max-width: 970px;
	margin: 0 auto;
}

.top-navigation
{
	background-color: #2DB3FF;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	height: 50px;
	padding-top: 5px;
}

.top-title {
  float: left;
  font-family: 'Oswald';
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  margin-left: 15px;
}

.top-title a {
  text-decoration: none;
  color: black;
  margin-top: 5px;
}

.top-title img {
  margin-left: 5px;
  margin-right: 2px;
}

.welcome {
  float: right;
  font-family: 'Oswald';
  line-height: 50px;
  font-weight: 500;
}

.topSpacer {
  height: 70px;
  position: relative;
}

.text-header {
  font-size: 1.6em;
  font-weight: strong;
}

.loginHints {
  font-size: .8em;
  text-decoration: none;
}

.marketingTextLarge {
  font-size: 2em;
}

.marketingTextMedium  {
  font-size: 1.5em;
}

.marketingSpacing {
  margin-top: 20px;
}
.newPost {
  position: relative;
}
.board {
  max-width: 800px;
   margin-left: auto ;
  margin-right: auto ;
}
.newPost {
  
}
.post {
  margin-top: 10px;
  max-width: 800px;
}
.post-content {
  margin-left: 5px;
}
.post p {
}
.post-account {
  font-weight: bold;
  font-size: 14px;
  font-family: 'Open Sans';
}
.post-content {
  color: black;
}
